{% extends "registration_app/base.html" %}
{% block body_block %}
	<div class="container">
        <div class="col-8">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Welcome to the Registration App!</h1>
                <p class="col-md-8 fs-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti dicta dolores explicabo id quibusdam! Aspernatur cupiditate dolor doloremque ducimus, eaque error fuga incidunt molestias, nemo non, placeat possimus quas voluptates.</p>
            </div>
        </div>
    </div>
{% endblock %}